.ui.borderless.topmenu.menu {
  background: #f7f7f7;
  border: none;
  box-shadow: none;
}
.ui.borderless.middlemenu.menu {
  border: none;
  box-shadow: none;
}
.grey-background {
  background-color: #292929;
  height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.ui.column {
  color: white;
}
hr {
  text-shadow: none;
}